@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to top, #D95D30, #595454);
    background-attachment: fixed;
}

main{
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #56241292;
}

h1{
    color: #D95D30;
    text-align: center;
    text-shadow: 1px 1px 2px #481e0f8a;
}

h2{
   color: #D9B777; 
}

p{
  text-align: justify;
  color: #595454;  
}